
$breakpoints: (
  'mobile': ('min': 0, 'max': 599px),
  'tablet': ('min': 600px, 'max': 959px),
  'laptop': ('min': 960px, 'max': 1263px),
  'desktop': ('min': 1264px, 'max': 1903px),
  'huge': ('min': 1904px),
);

.panel {
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    &--no-wrap {
        flex-wrap: nowrap;
    }
    &--full-height {
        height: 100%;
    }
    &--half-height {
        height: 50%;
    }
    > .panel-section {
        flex: 1;
        display: flex;
        flex-wrap: nowrap;
        padding: 16px;

        transition: all .05s ease-in-out;

        &--shrink {
            flex-grow: 0;
            flex-shrink: 1;
        }

        &--column {
            flex-direction: column;
        }
        &--row {
            flex-direction: row;
        }

        &--justify-start {
            justify-content: flex-start;
        }
        &--justify-center {
            justify-content: center;
        }
        &--justify-between {
            justify-content: space-between;
        }
        &--justify-end {
            justify-content: flex-end;
        }

        &--align-center {
            align-items: center;
        }
        &--align-start {
            align-items: flex-start;
        }
        &--align-end {
            justify-items: flex-end;
        }

        @for $num from 1 through 12 {
            &--col-#{$num} {
                width: 100%;
                flex: 0 0 percentage($num / 12);
                max-width: percentage($num / 12);
            }
            &--offset-#{$num} {
                margin-left: percentage($num / 12);
            }
        }

        @each $breakpoint, $sizes in $breakpoints {
            @media print, screen and (min-width: map-get($sizes, 'min'))  {
                @for $num from 1 through 12 {
                    &--col-#{$breakpoint}-#{$num} {
                        width: 100%;
                        flex: 0 0 percentage($num / 12);
                        max-width: percentage($num / 12);
                    }
                    &--offset-#{$breakpoint}-#{$num} {
                        margin-left: percentage($num / 12);
                    }
                }
            }
        }
    }
}