@import "../variables";

.side-nav {
    position: fixed;
    top: 61px;
    height: 100%;
    width: 192px;
    z-index: 100;
    border-right: 1px solid $dark;
    &__sections {
        list-style: none;
        padding: 8px 16px;
        margin: 0;
    }
    &__sections-item {
        margin: 12px 0;
    }
    &__social {
        position: fixed;
        bottom: 0;
        display: flex;
        // z-index: 100;
        list-style: none;
        padding: 0 16px;
    }
    &__social-item {
        margin-right: 12px;
    }
}