@import "../variables";

.side-nav {
    position: fixed;
    top: 61px;
    height: 100%;
    width: 192px;
    z-index: 100;
    border-right: 1px solid $dark;
    &__sections {
        list-style: none;
        padding: 8px 16px;
        margin: 0;
    }
    &__sections-item {
        margin: 12px 0;
        &--active {
            margin-right: -16px;
            color: $red;
            border-right: 4px solid $red;
        }
    }
    &__social {
        position: fixed;
        bottom: 0;
        display: flex;
        list-style: none;
        padding: 0 16px;
    }
    &__social-item {
        margin-right: 12px;
    }
}