@import "./variables";

.bg-black {
    background-color: $black;
}
.bg-white {
    background-color: $white;
}
.bg-dark {
    background-color: $dark;
}
.bg-light {
    background-color: $light;
}
.bg-red {
    background-color: $red;
}
.bg-pink {
    background-color: $pink;
}


.clr-black {
    color: $black;
}
.clr-white {
    color: $white;
}
.clr-dark {
    color: $dark;
}
.clr-light {
    color: $light;
}
.clr-red {
    color: $red;
}
.clr-pink {
    color: $pink;
}

