.font-heavy {
    font-weight: 700;
}
.font-medium {
    font-weight: 400;
}
.font-light {
    font-weight: 200;
}

.text-align-center {
    text-align: center;
}
.text-align-start {
    text-align: start;
}
.text-align-end {
    text-align: end;
}
.text-align-justify {
    text-align: justify;
}

.text-xx-large {
    font-size: 96px;
}
.text-x-large {
    font-size: 64px;
}
.text-large {
    font-size: 32px;
}
.text-medium {
    font-size: 16px;
}